.todos-wrapper {
    height: 100%;
    overflow-y: auto;
}

.todo-item {
    display: flex;
    align-items: center;

    background: rgba(black, .5);
    border-radius: 25px;

    padding: 10px 12px;

    margin-bottom: 15px;

    cursor: pointer;

}

.todo-text {
    color: rgba(white, .85)
}

.check-box {
    display: flex;

    padding: 4px;
    border: 2px solid rgba(white, .35);

    border-radius: 50%;

    margin-right: 15px;

    i {
        font-size: 18px;
        opacity: 0;
    }
}

.todo-item:hover {
    .todo-text {
        color: rgba(white, .95);
    }

    .check-box {
        border-color: transparent;
        background-color: rgba(white, .35);
    }
}

.todo-item.completed {
    .todo-text {
        color: rgba(white, .65);
    }

    .check-box {
        background: rgb(9, 218, 89);
        border-color: transparent;

        i {
            opacity: 1;
        }
    }
}

.todo-text,
.check-box {
    transition: .15s;
}