<div class="todos-wrapper">
    <div class="container">

        <div class="todo-item completed">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <div class="todo-text">This is the todo text</div>
        </div>
        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <div class="todo-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque optio minima molestiae, placeat laborum ut vitae? Impedit at exercitationem error fuga dolores aperiam, consequatur tempora, voluptas, incidunt commodi illum aut.</div>
        </div>

    </div>
</div>