<div class="add-bookmark-wrapper container has-blurred-white-bg">

    <h2 class="is-bold">Add bookmark</h2>

    <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
        <div class="form-field">
            <label for="name" class="form-label">Name</label>
            <input class="textbox" ngModel #textField="ngModel" name="name" type="text" placeholder="Enter bookmark name..." minlength="3">
        </div>

        <div class="form-field">
            <label for="url" class="form-label">URL</label>
            <input class="textbox" ngModel #textField="ngModel" name="url" type="url"
                placeholder="e.g. https://wikipedia.org" required>
        </div>

        <div class="btns-container">
            <a routerLink="../" class="btn">Cancel</a>
            <button class="btn align-end">Create</button>
        </div>
    </form>

</div>